.root {
    /* Color palette */
    -fx-color-primary: #2d3748; /* Fondo principal */
    -fx-color-secondary: #1a202c; /* Fondo de paneles/tarjetas */
    -fx-color-accent: #48bb78; /* Color de acento/resaltado */
    -fx-color-text-light: #f7fafc; /* Color de texto principal */
    -fx-color-text-muted: #a0aec0; /* Color de texto secundario */

    /* Fonts */
    -fx-font-family: "Segoe UI", "Tahoma", "Verdana", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-base: -fx-color-primary;
    -fx-background: -fx-color-primary;
}

/* App background */
.background {
    -fx-background-color: -fx-color-primary;
}

/* Containers */
.card {
    -fx-background-color: -fx-color-secondary;
    -fx-background-radius: 8; /* Bordes ligeramente redondeados */
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.2, 0, 0); /* Sombra sutil */
}

/* Labels */
.label {
    -fx-text-fill: -fx-color-text-light;
}

.label-muted {
    -fx-text-fill: -fx-color-text-muted;
    -fx-font-size: 12px;
}

.login_title
{
    -fx-text-fill: -fx-color-accent;
    -fx-font-size: 42px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

/* Buttons */
.button {
    -fx-background-color: -fx-color-accent;
    -fx-text-fill: -fx-color-secondary; /* Texto oscuro sobre el acento verde */
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: derive(-fx-color-accent, 20%);
}

.button-secondary {
    -fx-background-color: -fx-color-secondary;
    -fx-text-fill: -fx-color-text-light;
    -fx-border-color: -fx-color-text-muted;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}
.button_stage
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-accent;
}
.button_stage:hover
{
    -fx-background-radius: 0;
    -fx-background-color: -fx-color-secondary;
}

/* TextFields */
.text-field {
    -fx-background-color: -fx-color-secondary, -fx-color-primary; /* Fondo y borde/relleno */
    -fx-text-fill: -fx-color-text-light;
    -fx-background-radius: 4;
    -fx-prompt-text-fill: -fx-color-text-muted;
    -fx-control-inner-background: -fx-color-secondary;
    -fx-border-color: -fx-color-text-muted;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: -fx-color-accent;
    -fx-border-width: 1.5px;
}
